<%=	form_for(@task) do |form| %>
  <div>
    <%= form.label :task %><br>
    <%= form.text_field :name  %><br>
    <%= form.submit "Create Task" %>
    <button><%=	link_to "Cancel", action: "index" %></button>
  </div>

<%	end  %>