<% content_for :stylesheets do %>
    <style type="text/css">

      .mui-row.mui-panel.task{
        margin-bottom: 2px;
      }


    </style>
<% end %>

<%= render "shared/navbar" %>
<div class="mui-row">
  <div class="mui-col-sm-6 mui-col-sm-offset-3">
    <div class="space"></div>
    <div class="space"></div>
    <div class="mui-panel">
      <div class="mui-row">
        <h2 class="mui-col-sm-8">You have <%= @lists.length %> lists</h2>
        <%= link_to "+", newList_path, {class: "mui-btn mui-btn--primary mui-btn--fab mui-col-sm-offset-3"} %>
        <!--<button class="mui-btn mui-btn&#45;&#45;primary mui-btn&#45;&#45;fab mui-col-sm-offset-3">+</button>-->
        <!--<button class="mui-btn mui-btn&#45;&#45;primary mui-btn&#45;&#45;fab mui-col-sm-offset-3">+</button>-->
      </div>

    </div>
    <div class="mui-panel tasks">
      <% @lists.each_with_index do |list,idx| %>
          <div class="mui-row task">
            <%#= link_to "Task #{idx+1}",task_path(list)%>
            <span><%=list.name%></span>
            <span class="mui-col-sm-offset-9">
            <a href="#">
              <i class="material-icons">border_color</i>
            </a>
            <a href="#" class="">
              <i class="material-icons">remove_circle</i>
            </a>
            <a href="<%= newTask_path %>">
              <i class="material-icons">add_box</i>
            </a>
            </span>
            <%#= link_to "+", {class: "mui-btn mui-btn--primary mui-btn--fab mui-col-sm-offset-3"} %>
          </div>
      <% end %>
    </div>
  </div>
</div>





