<%= render "shared/navbar" %>
<div class="mui-row">
  <div class="mui-col-xs-8 mui-col-xs-offset-2 mui-col-sm-6 mui-col-sm-offset-3">
    <div class="space"></div>
    <div class="space"></div>
    <div class="mui-panel mui--z5" id="outer-panel">
      <div class="mui-row">
        <h2 class="mui-col-xs-14 mui-col-sm-8">You have <%= @lists.length %> lists</h2>
        <%= link_to "+", newList_path, {class: "mui-btn mui-btn--primary mui-btn--fab mui-col-xs-offset-0 mui-col-sm-offset-3"} %>
      </div>

        <% @lists.each_with_index do |list,idx| %>

            <div class="mui-row mui-panel task mui--z3">
              <%#= link_to "Task #{idx+1}",task_path(list)%>
              <span><%=list.name%></span>
              <span class="float">
              <a href="<%=list_path(list.id)%>" class="action-helpers">
                <i class="material-icons">border_color</i>
              </a>
              <a href="javascript:void(0)" class="action-helpers">
                <i class="material-icons">remove_circle</i>
              </a>
              </span>
              <%#= link_to "+", {class: "mui-btn mui-btn--primary mui-btn--fab mui-col-sm-offset-3"} %>
            </div>

        <% end %>

    </div>
  </div>
</div>





