<%=	form_for(@task) do |form| %>

  <div>
    <%= form.label :task %><br>
    <%= form.text_field :name  %><br>
    <%= form.submit "Create Task" %>

  </div>

<% end %>
<%=	button_to "Cancel", {controller: "task", action: "index"}, method: :get %>